html, body {
    margin: 0;
    padding: 0.5em 1em;
    font-family: Verdana, Arial, sans serif;
}
pre {
  overflow: auto;
}

pre.doctest {
  border-left: 3px solid #99f;
  padding-left: 1em;
}

pre.output {
  border-left: 3px solid #9f9;
  padding-left: 1em;
}